html,
body
{
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;

    background: #000;
}

app
{
    font-family: Arial, sans-serif;
}

.app_prefs .prefs
{
    visibility: visible;

    transition: transform .2s ease;
    transform: translate(0, 0);
}

.app_prefs .photo,
.app_prefs .photo__control
{
    transform: translate(330px, 0);
}
