.photo
{
    position: absolute;
    top: 50px;
    left: 10px;

    transition: transform .2s ease;
    transform: translate(0, 0);
}

.photo__input
{
    position: relative;
    z-index: 10;

    margin-top: 5px;

    white-space: pre;

    background-color: transparent;
}

.photo__text-photo
{
    position: absolute;
    z-index: 8;
}

.photo__control
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 300px;

    padding: 5px;

    background-color: rgba(0,0,0,.5);
}

.photo__generate,
.photo__save
{
    font-size: 20px;
}

.photo__generate
{
    margin-right: 1em;
}

.photo__result
{
    position: absolute;
    z-index: 10001;
    top: 40px;
    left: 50%;

    display: none;

    transform: translate(-50%, 0);

    border: 1px dotted #fff;
}
